.comment-query-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid #2b455c;
  border-radius: 10px;
  background-color: #4a58674f;
}

.comment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form .ant-form-item,
.comment-form .ant-form-item-control-input,
.comment-form-button {
  width: 600px;
}
