body {
  background: linear-gradient(135deg, #162747 0%, #1e2e3b 100%);
  color: #ffffff;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.query-builder-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #2b455c;
  border-radius: 10px;
  background-color: #4a58674f;
}
.radio-group {
  margin: 1rem 0;
}
.radio-group .ant-radio-wrapper {
  color: #fff;
  margin-right: 1rem;
  font-size: 16px;
}